<div>
    <body>
        <header class="header-content header">
            <div class="logo-content">
                <img src="./assets/logo.png" />
                <div>
                    <span class="emp-text">EMPLOYEE</span><br>
                    <span class="emp-text emp-payroll">PAYROLL</span>
                </div>
            </div>
        </header>
        <div class='payroll-main'>
            <form #form='ngForm' action="">
                <div class='form-head'>Employee Payroll Form</div><br>
                <div class='row'>
                    <label class='label-text' htmlFor='name'>Name:</label>
                    <input class='input' type="text" id='name' name='name' [(ngModel)]="employee.name"
                        placeholder='Your name..' autocomplete="off" />
                </div><br><br>
                <div class='profile-radio-button'>
                    <label>Profile image:</label>
                    <label class='profile'>
                        <input type="radio" id='profile1' name='profilePic' [(ngModel)]="employee.profilePic"
                            value="1" />
                        <img class='pic' id='image1' src='../assets/Ellipse -3.png' />
                    </label>
                    <label class='profile'>
                        <input type="radio" id='profile2' name='profilePic' [(ngModel)]="employee.profilePic"
                            value='2' />
                        <img class='pic' id='image2' src='../assets/Ellipse -2.png' />
                    </label>
                    <label class='profile'>
                        <input type="radio" id='profile3' name='profilePic' [(ngModel)]="employee.profilePic"
                            value='3' />
                        <img class='pic' id='image3' src='../assets/Ellipse -1.png' />
                    </label>
                    <label class='profile'>
                        <input type="radio" id='profile4' name='profilePic' [(ngModel)]="employee.profilePic"
                            value='4' />
                        <img class='pic' id='image4' src='../assets/Ellipse-4.png' />
                    </label>
                </div><br><br>
                <div class="row-content">
                    <label class="label text" htmlFor="gender">Gender:</label>
                    <input class="radio-button" type="radio" id="male" [(ngModel)]="employee.gender" name="gender"
                        value="male" />
                    <label class="text" htmlFor="male">Male</label>
                    <input class="radio-butt" type="radio" id="female" [(ngModel)]="employee.gender" name="gender"
                        value="female" />
                    <label class="text" htmlFor="female">Female</label>
                </div><br>
                <div class='row-content'>
                    <label class="label text" for="department">Department:</label>

                    <input type="checkbox" class="check" id="hr" (click)="getValue('HR')"
                        [ngModel]="employee.departments=='HR'" name="department1" value="HR">
                    <label for="hr">HR</label>
                    <input type="checkbox" class="checkbox" id="sales" (click)="getValue('Sales')"
                        [ngModel]="employee.departments=='Sales'" name="department2" value="Sales">
                    <label for="sales">Sales</label>
                    <input type="checkbox" class="checkbox" id="finance" (click)="getValue('Finance')"
                        [ngModel]="employee.departments=='Finance'" name="department3" value="Finance">
                    <label for="finance">Finance</label>
                    <input type="checkbox" class="checkbox" id="engineer" (click)="getValue('Engineer')"
                        [ngModel]="employee.departments=='Engineer'" name="department4" value="Engineer">
                    <label for="engineer">Engineer</label>
                    <input type="checkbox" class="checkbox" (click)="getValue('Others')"
                        [ngModel]="employee.departments=='Others'" name="department5" value="Others">
                    <label for="others">Others</label>

                </div><br>
                <div class='row-content'>
                    <label class='label-text' htmlFor='salary'>Salary:</label>
                    <select class='salary' id='salary' name='salary' [(ngModel)]="employee.salary">
                        <option>Salary</option>
                        <option value="100000">100000</option>
                        <option value="200000">200000</option>
                        <option value="300000">300000</option>
                        <option value="500000">500000</option>
                        <option value="1000000">1000000</option>
                    </select>
                </div><br><br>
                <div class='row-content'>
                    <label for="salary">Startdate:</label>
                    <input type="date" class="date" name="startdate" [(ngModel)]='employee.startdate'>
                </div><br>
                <div class="row-content">
                    <label class="lable text" htmlFor="note">Notes:</label>
                    <textarea class="area" id="notes" name="note" [(ngModel)]='employee.note' placeholder=""></textarea>
                </div><br>
                <!-- <div class="buttonParent"> -->
                <div class="submit-reset">
                    <button class="cancleButton" (click)="handleBack()">Cancel</button>

                    <button type="submit" class="button submitButton" *ngIf='this.id==null'
                        (click)='handleSubmit()'>Submit</button>
                    <button class="button submitButton" *ngIf='this.id!=null' (click)='handleUpdate()'>Update</button>
                    <button type="reset" class="button resetButton">Reset</button>
                </div>
                <!-- </div><br> -->
            </form>
        </div>
    </body>
</div>